@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.webp');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #755c4e9a;
    border: 2px solid #755c4e9a;
    color: #e6e1e5;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #3f3731;
    color: #e6e1e3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image3.webp');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #201b16bc;
    border: 2px solid #201b16;
    color: #ccaf9b;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #615e52;
    color: #c7cbcf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #160c04;
    color: #e6e1e3;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #e6e1e3;
    text-decoration: none;
}

.footer ul li:hover {
   /* color: white;*/
    transform: scale(1.3);
}

.origin-image {
    background-attachment: fixed;
    background-image: url('../img/image2.webp');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #98877db7;
    border: 2px solid #322a25;
    color: #d1d8db;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #5f3a1a;
    color: #bd9372;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
 
